<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Chat Bot" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-300" data-controller="body">
    <%= turbo_stream_from "message-list" %>
    <% if user_signed_in? %>
      <div class="w-[20%] min-h-screen p-4 px-2 fixed mt-[75px] shadow-md bg-gray-400 shadow-gray-300">
        <div class="flex justify-between items-center mb-5">
          <h3 class="capitalize text-xl font-bold">Chat History</h3>
          <%= link_to home_path, class: "text-xl" do %>
            <%= icon('fa-solid', 'plus')%>
          <%end%>
        </div>
        <%= render "shared/chats", chats: current_user.chats %>
      </div>

      <nav class="bg-gray-400 fixed top-0 w-full h-[70px] p-5">
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
      </nav>
    <% end %>
    <main class="w-[80%] bg-gray-300 ml-auto px-10">
      <%= yield %>
    </main>
  </body>
</html>
 